@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12 shadow p-3 mb-5 bg-primary rounded text-center">
        <h1 class="display-3 text-light">BIENVENIDO A</h1>
        <img src="~/Image/aseinfologo.png"/>
    </div>
</div>
